body {
    font-family: 'Hind', sans-serif !important;
    font-size: 22px;
}

.icon {
    height: 75px;
    margin: 20px;
}

.hidden {
    display: none;
}

/* main display area */
.game-display {
    background-color: #8906E2;
    height: auto;
    border: 1px solid #000;
    margin-top: 58px;
    padding: 0 20px;
}

/* player marker selection screen */
.overlay {
    margin: 50px 0;
    text-align: center;
    height: 150px;
}

.overlay p {
    font-weight: 600;
}

/* player display */
.player-display {
    margin-top: 25px;
    background-color: #B53CB5;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.player-indicator {
    padding: 0 5px;
}

.player {
    width: 12px;
    margin: 0 2px;
}


/* game board */
.game-board {
    padding: 20px;
    height: 275px;
    width: 300px;
    margin-top: 0;
}

.boxes {
    height: 75px;
    width: 30%;
}

.right {
    border-right: 1px solid #000;
}

.bottom {
    border-bottom: 1px solid #000;
}

.player-icon {
    width: 35px;
    margin: 20px;
}

/* game status */ 

.game-status {
    background-color: rgba(67, 67, 67, 0.29);
    border-radius: 5px;
    font-size: 125%;
    margin: 30px 0 15px 0;
}

.status-display {
    margin: 30px 0 15px 0;
}

#user-win {
    color: #B53CB5;
}

#comp-win {
    color: #D11A51;
}

#tied-game {
    color: #57209F;
}

.again {
    color: #B05CE9;
    background-color: #0E021E;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* credit info */
.credit {
    margin-top: 20px;
    font-size: 50%;
    font-style: italic;
    color: #5D0499;
}

.credit p {
    text-align: center; 
}

.credit a {
    color: #B05CE9;
}